.commands{
    width: 250px;
    float: left;
    margin: 160px 0 0 0;
    
    .command{
        color: $red;
        font-size: 15px;
    }
    
    input[type='text']{
        width: 100%;
    }
    
    .output{
        width: 100%;
        height: 260px;
        border: 1px solid $blue;
        color: $grey;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto;
        font-size: 10px;
        font-family: Courier New, Courier, monospace;
        line-height: 11px;
    }
}