.platform{
    background: $grey; 
    position: relative;
    overflow: visible;
    margin: 50px;
    float: left;
    
    .platform-hr{
        position: absolute;
        width: 100%;
        height: 1px;
        border: 1px solid $grey;
        box-sizing: border-box;
    }
    
    .platform-vr{
        position: absolute;
        width: 1px;
        height: 100%;
        border: 1px solid $grey;
        box-sizing: border-box;
    }
}

