.robot{
    background: url('../images/robot.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    
    &.not-placed{
        // background-color: $grey;
        border: 1px solid $red;
    }
}