$black: #000000;
$white: #FFFFFF;
$grey: #b7b7b7;
$blue: #2A4E6E;
$blue-verydark: #021E36;
$blue-dark: #0C2337;
$blue-light: #5B82A5;
$blue-verylight: #B7DCFE;

$cream: #efead4;
$grey-dark: #112120;
$grey-med: #dbd6d6;
$grey-light: #f4f4f4;
$red: #bc2b26;