@import 'normalize';

/* ==========================================================================
   Imports/Includes
   ========================================================================== */
@import "variables";
@import 'fonts';
@import 'mixins';

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: $grey-dark; 
    font-size: 14px;
    line-height: 16px;
    background: $white;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body{
    background: $grey;
    height: 100%;
    margin: 0;
    
}

.wrapper{
    position: relative;
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
    overflow: hidden;
    opacity: 0;
    font-family: 'League Gothic';
    // border: 1px solid $blue-dark;
    background: $grey-light;
	
	@include bp($tablet){
		max-width:none;
	}
}

h2, h3{
    color: $red;
}
button{
    color: $red;
    transition: color 0.8s;
    &:hover{
        color: $grey-dark;
    }
}

.gamename{
    width: 600px;
    position: absolute;
    z-index: 99;
    left: 50%;
    margin-left: -300px;
    top: 80px;
    line-height: 200px;
    color: $grey-dark;
    font-size: 200px;
    text-transform: uppercase;
    
    .sub{
        font-size: 100px;
        display: block;
        color: #bc2b26;
        position: absolute;
        right: 6px;
        bottom: -115px;
    }
}


/*import site files*/ 
@import 'game/platform'; 
@import 'game/robot'; 
@import 'game/controls';
@import 'game/commands';
// @import '../../node_modules/font-awesome/scss/font-awesome';